<!DOCTYPE html>
<html>
<head>
<title>UEMF/About us</title>
<link rel="stylesheet" href="/style.css" type="text/css" />
<link rel="icon" type="image/x-icon" href="favicon.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 15%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>
  <div class="header">
    <a href="#" class="logo"><img src="logo.png" width="70%"></a>
    <div class="header-right">
        <a  href="/">Accueil</a>
        <a href="/userprofile" >Ressource</a>
        <a href="/myDemandes">Mes Demandes</a>
        <a href="/logout">Logout</a>
        <a href="/about" class="active">A propos</a>
      </div>
  </div>
  
<h2 style="text-align:center">About us</h2>

<div class="card">
  <img src="ress2.jfif" alt="UEMF" style="width:100%">
  <h1>UEMF Ressources</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Euromed University</p>
  <p><button>Contact us </button></p>

  <div style="margin: 24px 0;">

    <a href="https://ueuromed.org/"><i class="fa fa-dribbble"></i></a> 
    <a href="https://www.linkedin.com/company/uemf"><i class="fa fa-linkedin"></i></a>  
    <a href="https://www.facebook.com/UniversiteEuromed/"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/ueuromed_fes/"><i class="fa fa-instagram"></i></a>   
    <a href="https://www.youtube.com/channel/UC2BNyQcPFkHYcgHvwUgRVJw"><i class="fa fa-youtube"></i></a>  
  </div>
  
</div>

</body>
</html>
