<!DOCTYPE html>
<html>
<head>
    <title>Message Erreur</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="icon" type="image/x-icon" href="favicon.png">
</head>
<body>
    <h1 class="message">Message</h1>
    <p class="para">Nom d'utilisateur ou mot de passe incorrect
        <a class="ali" href="/login">"Essayez avec un autre utilisateur/mdp"</a> .</p>
</form>
</div>
</body>
</html>