<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css" type="text/css" />
<link rel="icon" type="image/x-icon" href="favicon.png">
<title>UEMF Ressources / Home</title>
</head>
<body>
  <div class="wraper">
    <img src="bib.jpg" alt="" style="width:100%; display: block; ">
    <img src="sport.jpg" alt="" style="width:100% ;display: block; " >
    <img src="train.jpg" alt="" style="width:100% ;display: block; " >
    <img src="salle1.jpg" alt="" style="width:100%;display: block;  " >
  </div>
  <div class="header">
    <a href="#default" class="logo"><img src="logo.png" width="70%"></a>
    <div class="header-right">
      <a href="/login" class="active">  Se Connecter </a>
      <a href="/register">  S'inscrire  </a>
    </div>
  </div>
</body>
</html>
  
  
