<!DOCTYPE html>
<html>
<head>
    <title>Message</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="icon" type="image/x-icon" href="favicon.png">
</head>
<body>
    <h1 class="message">Message</h1>
    <p class="para">Ressource déjas réserver pendant cet horaire
        <a class="ali" href="/userprofile">"Essayez avec un autre horaire"</a> link.</p>
</form>
</div>
</body>
</html>