<!DOCTYPE html>
<html>
<head>
<title>Ressources</title>
<link rel="stylesheet" href="/style.css" type="text/css" />
<link rel="icon" type="image/x-icon" href="favicon.png">
</head>
<body>
    <div class="header">
        <a href="#" class="logo"><img src="logo.png" width="70%"></a>
        <div class="header-right">
            <a  href="/">Accueil</a>
            <a href="" class="active" >Ressource</a>
            <a href="/myDemandes">Mes Demandes</a>
            <a href="/logout">Logout</a>
            <a href="/about">A propos</a>
          </div>
      </div>
    <h1 id="title">
        Faire une demande 
    </h1>
    <form class="f" action="/demandeSalle" method="get"><button class="Click" >Demander Salle Sport</button></form>
    <form class="f" action="/demandeMusic" method="get"><button class="Click" >Demander Salle Music</button></form>
    <form class="f"  action="/demandeTerrain" method="get"><button class="Click">Demander Terrain</button></form>
    <form class="f"  action="/demandeBiblio" method="get"><button class="Click">Demander Espace Travail</button></form>
    <form class="f"  action="/demandePc" method="get"><button class="Click">Demander Computer</button></form>
    
</body>
</html>