<div class="header">
  <a href="#" class="logo"><img src="logo.png" width="70%"></a>
  <div class="header-right">
      <a  href="/">Accueil</a>
      <a href="" class="active" >Ressource</a>
      <a href="/myDemandes">Mes Demandes</a>
      <a href="/logout">Logout</a>
      <a href="/about">A propos</a>
    </div>
</div>
