<!DOCTYPE html>
<html>
<head>
<title>Se connecter</title>
<link rel="stylesheet" href="/style.css" type="text/css" />
<link rel="icon" type="image/x-icon" href="favicon.png">
</head>
<body>
    <div class="header">
        <a href="#default" class="logo"><img src="logo.png" width="70%"></a>
        <div class="header-right">
            <a href="/">Home</a>
            <a href="/register" class="active">Sign up</a>
        </div>
      </div>
    <h1 id="title">
        Login Page
    </h1>
    <form action="/login" method="POST">
        <label for="username">UserName</label>
        <input type="text" placeholder="username" id="xyz" name="username">
        <label for="password">Password</label>
        <input type="password" placeholder="password" id="password" name="password">
        <button id="btn">Login</button>
    </form>
    

</body>
</html>
